name: CI

on: [push, pull_request]

jobs:
  functionality:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        gemfile:
          - Gemfile
          - gemfiles/activesupport_6.1.gemfile
          - gemfiles/activesupport_7.0.gemfile
          - gemfiles/activesupport_7.1.gemfile
          - gemfiles/activesupport_7.2.gemfile
          - gemfiles/activesupport_edge.gemfile
        ruby: ["3.1", "3.2", "3.3"]
        exclude:
          - gemfile: gemfiles/activesupport_edge.gemfile
            ruby: "3.1"
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Tests
      run: bundle exec rake test

    - name: Specs
      run: bundle exec rspec
  style:
    runs-on: ubuntu-latest
    name: Rubocop
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: RuboCop
      run: bundle exec rubocop
